layout cwd="$HOME/.dotfiles/nixos"  {
    pane split_direction="vertical" {
        pane focus=true edit="configuration.nix"
        pane split_direction="horizontal" {
            pane command="home-manager" {
                args "switch" "--flake" "."
                start_suspended true
            }
            pane command="sudo" {
                args "nixos-rebuild" "switch" "--flake" "."
                start_suspended true
            }
        }
    }
}
